// variables
$white: #ffffff !default;
$black: #000000 !default;
$main-dark-blue: #151c27 !default;
$main-blue: #5B85C5 !default;
$main-dark-grey: #39414D !default;

.main {
    height: 1600px
}

.footer {
    margin-top:3em;
    padding: 10px;
    color: $white;
}

.jumbotron {
    background-color: $main-dark-blue;
    padding-top: 0;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.counter {
    display: flex;
    background-image: url(../../img/bcg.jpg);
    background-repeat: repeat;
    margin: 30px;
    height: 132px;
    border-radius: 10px;
    box-shadow: 0px 2px 3px 0px $black;
    img {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        box-shadow: 0px 2px 0px 0px $black;
    }
    .counter-notification {
        color: $white;
        padding-top: 48px;
        width: 50%;
        margin-left: -100px;
        letter-spacing: 1px;
    }
}

body {
  height: 100%;
  width: 100%;
  background-color: #333;
}

.countdown {
    position: relative;
    margin: auto;
    text-align: center;
    top: -8px;
    height: 149px;
    width: 149px;
    border: 13px solid #39414D;
    border-radius: 75px;
}

.countdown{
    &.mobile {
        display: none;
    }
    &.desktop {
        display: block;
    }
}

.countdown-number {
    color: white;
    display: inline-block;
    line-height: 26px;
    font-size: 20px;
    width: 70px;
    margin-top: 36px;
    letter-spacing: 1px;
}

svg {
    position: absolute;
    top: -18px;
    right: -18px;
    height: 162px;
    width: 162px;
    transform: rotate(-90deg);
}

svg circle {
    stroke-dasharray: 441px;
    stroke-dashoffset: 0px;
    stroke-width: 13px;
    stroke: $main-blue;
    fill: none;
    animation: countdown 100000s linear backwards;
    -webkit-animation: countdown 100000s linear backwards;
    animation-direction: reverse;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 441px;
  }
}



@media only screen and (max-width : 1200px) {
    .counter .counter-notification {
        width: 35%;
    }
}

@media only screen and (max-width : 992px) {
    .counter {
        margin: 0;
        border-radius: 0;
        img {
            height: 100%;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
        .counter-notification {
            width: 100%;
            text-align: center;     
            padding: 48px 10px 40px;
        }
    }
    .countdown{
        top: 29px;
        &.mobile {
            display: block;
        }
        &.desktop {
            display: none;
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .counter {
        margin: 0;
        display: block;
        border-radius: 0;
        .counter-notification {
            margin: 0;
        }
    }
    .countdown{
        top: 0;
        &.mobile {
            display: none;
        }
        &.desktop {
            display: block;
        }
    }
}
